<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <script src="https://unpkg.com/axios@0.26.0/dist/axios.min.js"></script>
</head>
<body>
    <h3>Login</h3>
    <form method="post" action="/user/login" id="login_frm">
        <table>
            <tr>
                <td>ID</td>
                <td><input type="text" name="id" id="id"></td>
            </tr>
            <tr>
                <td>PW</td>
                <td><input type="text" name="pw" id="pw"></td>
            </tr>
        </table>
        <input type="submit" value="login">
    </form>
    <script type="text/javascript">
        const l_frm = document.querySelector('#login_frm')
        l_frm.addEventListener('submit',async(e)=>{
            e.preventDefault()

            const id = document.querySelector('#id')
            const pw = document.querySelector('#pw')

            const body = {
                userid:id.value,
                userpw:pw.value
            }

            const response = await axios.post('http://localhost:4001/api/user/login',body,{
                    'Content-type':'application/json',
                    withCredentials:true,
                })

            try {
                
                console.log(response.data)
                if(response.data.errno !== 0) throw new Error('Error')

                alert('login success')

                location.href = "http://localhost:3001"
            } catch (e) {
                console.log(response.data)
                alert('login failed')
            }

        })
    </script>
</body>
</html>